<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fs-2 montserrat-brand text-light" href="#">Info_Health</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="ms-auto" action="/logout?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-outline-light px-3 fw-bold" type="submit">Logout</button>
            </form>
            </ul>
        </div>
        </div>
    </nav>
