<%- include("partials/header.ejs") -%>

<main class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
	<%- include("partials/background.ejs") -%>
    <section class="container row d-flex justify-content-between">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                Welcome to <br />
                <span style="color: hsl(218, 81%, 75%)">Info_Health</span>
            </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Welcome to our website, dedicated to empowering individuals with knowledge about their health. Are you experiencing troubling symptoms but unsure of their significance? Our platform is here to provide clarity and support. By simply inputting your symptoms into our intuitive interface, we offer personalized insights and potential diagnoses based on the information provided. Whether it's a persistent cough, unexplained fatigue, or any other health concern, our advanced algorithm sifts through vast medical data to provide you with likely conditions you may be experiencing.
            </p>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 bg-glass card p-0">
            <h1 class="card-header">Register</h1>
            <form action="/register" class="card-body" method="POST">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                
                <% if (messages.error) { %>
                  <div class="alert alert-danger">
                    <strong><%= messages.error %> </strong>
                  </div>
                <% } %> 

                
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Full Name</label>
                    <input type="text" name="name" id="form3Example2" class="form-control" />
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                <input type="email" name="email" id="form3Example3" class="form-control" />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" name="password" id="form3Example4" class="form-control" />
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>Already have an account? <a href="/login">Login</a></p>
              
              </div>
            </form>
        </div>
    </section>
</main>
<%- include("partials/footer.ejs") -%>